$font-family: 'Lato', Arial, Helvetica, sans-serif;
$green: #03a84e;
$text-black: #373737;
$text-gray: #9C9AA6;
$bg-gray: #FAFAFA;
$input-padding: 15px;
$button-padding: 15px;
$border-radius: 4px;
$button-color: #fff;
$bg-white-color: #fff;
